@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Oleo Script', cursive; */
  /* font-family: 'Oleo Script Swash Caps', cursive; */
}

/* body{
  width: 100%;
  max-width: 1200px;
} */
:root{
  --font-family-heading : 'Oleo Script Swash Caps', cursive;
  --primary-color : "black";
  --secondary-color : "#474747";
  --btn-color : '#3F59DE';
  --font-family-second-head : 'Imperial Script', cursive;
}

ul{
  list-style: none;
}

ul li {
  cursor: pointer;
}

a,Link{
  text-decoration: none;
  cursor: pointer;
}

span{
  color: var(--primary-color);
}

#light{
  background-color: white;
  transition: 0.5s;
}

#dark{
  background-color: black;
  color: white;
  transition: 0.5s;
}

/* section{
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
} */


@media (min-width : 1200px){
  body{
    width: 100%;
  }
}